header {
  border-bottom: 1px solid whitesmoke; }
  header div div img {
    width: 50px;
    height: 50px;
    margin-top: 0.5em;
    margin-bottom: 0.5em; }
    header div div div ul li button {
      border-style: unset;
      border-radius: 0.5em;
      border-color: none;
      background-color: whitesmoke;
      font-weight: 700;
      padding: 0.2em;
      margin-left: 0.5em;
      margin-right:0.5em;
      margin-top: 0.5em;
      transition: transform 0.2s; }
      header div div div ul li button:hover {
        transform: scale(1.1);
        background-color: #a2c8ec; }
      header div div div ul li button a {
        text-decoration: none;
        color: black;
        font-weight: 700;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        margin-left: 1em;
        margin-right: 1em;
        text-shadow: 1px 2px 1px #a2c8ec; }
    body {
          min-height: 100%;
          background-image: linear-gradient(to left, #fbcabb, #f9b0c3, #e3abce, #ceb6d9, #a2c8ec);
          font-size: larger; }    